<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html.j2' %}
		<title> User Login Page </title>
		<style type="text/css" rel="stylesheet">
			body {
  				background-image: url("{{ url_for('static', filename='images/login_background.jpg') }}");
				background-repeat: no-repeat;
 				background-attachment: fixed;
  				background-size: 100% 100%;
			}
		</style>
	</head>
	<body>
        <div class="container">
            {% include 'alert.html.j2' %}
			<div class="row">
				<div class="col-6"></div>
				<div class="col-6">
					<h1> Welcome to GreenGrocery</h1>
					<form method="post">
						<fieldset>  
						<legend><b>Change Password</b></legend>  
						<div class="mb-3">
								<label for="mobile" class="form-label">Mobile</label>
								<input type="text" class="form-control" id="mobile", name="mobile" maxlength="10" required>
						</div>
						<div class="mb-3">
								<label for="new_paswrd" class="form-label">New Password</label>
								<input type="password" class="form-control" id="new_paswrd" name="NewPaswrd" required>
						</div>
						<div class="mb-3">
								<label for="confirm_paswrd" class="form-label">Confirm Password</label>
								<input type="password" class="form-control" id="confirm_paswrd" name="ConfirmPaswrd" required>
						</div>
						<div class="btn-toolbar mb-3" role="toolbar">
							<div class="me-2">
								<button type="submit" class="btn btn-warning btn-sm">Submit</button>
							</div>
							<div class="me-2">
								<a class="btn btn-primary btn-sm" href="{{ url_for('customerLogin') }}">Go Back to Login</a>
							</div>
							<div class="me-2">
								<a class="btn btn-outline-dark btn-sm" href="{{ url_for('customerSignup') }}">SignUp Here</a>
							</div>
						</div>
						</fieldset> 
					</form>
				</div>
			</div>
		</div>
    </body>
</html>