<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html.j2' %}
		<title> User Profile Page </title>
		<style type="text/css" rel="stylesheet">
			body {
  				background-image: url("{{ url_for('static', filename='images/login_background.jpg') }}");
				background-repeat: no-repeat;
 				background-attachment: fixed;
  				background-size: 100% 100%;
			}
		</style>
	</head> 
	<body>
		{% include 'nav_bar.html.j2' %}
		<div class="container">
            {% include 'alert.html.j2' %}
			<div class="row">
				<div class="col-6"></div> 
				<div class="col-6">
					<h1> Welcome </h1> 
                    <h2> {{ user.first_name }} {{ user.last_name if user.last_name is not none}} </h2>
					<form method="POST">
						<fieldset> 
						<legend><b>My Profile</b></legend>  
						<input type="hidden" name="type" value="profile"/>
						<div class="mb-3">
							<label for="fname" class="form-label">First Name</label>
							<input type="text" class="form-control" id="fname" name="fname" value="{{ user.first_name }}" maxlength='20' required>
						</div>
						<div class="mb-3">
							<label for="lname" class="form-label">Last Name</label>
							<input type="text" class="form-control" id="lname" name="lname" value="{{ user.last_name if user.last_name is not none}}" maxlength='20'>
						</div>
						<div class="mb-3">
							<label for="mobile" class="form-label">Mobile Number</label>
							<input type="text" class="form-control" id="mobile" name="mobile" value="{{ user.mobile_number }}" maxlength='10' required>
						</div>
						<div class="mb-3">
							<label for="address" class="form-label">Delivery Address</label>
							<input type="text" class="form-control" id="address" aria-describedby="note" name="address" value="{{ user.address }}" maxlength='100'required>
						</div>
						<div class="buttonStyle">
							<button type="submit" class="btn btn-warning">Modify Profile</button>
							<a class="btn btn-primary" href="{{ url_for('changePassword') }}"> Forgot Password </a>
						</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>