<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html.j2' %}
		<title> User SignUp Page </title>
		<style type="text/css" rel="stylesheet">
			body {
  				background-image: url("{{ url_for('static', filename='images/login_background.jpg') }}");
				background-repeat: no-repeat;
 				background-attachment: fixed;
  				background-size: 100% 100%;
			}
		</style>
	</head>  
	<body>
		<div class="container">
            {% include 'alert.html.j2' %}
			<div class="row">
				<div class="col-6"></div> 
				<div class="col-6">
					<h1> Welcome to GreenGrocery </h1>
					<form method="POST">
						<fieldset> 
						<legend><b>New User SignUp</b></legend>  
						<div class="mb-3">
							<label for="fname" class="form-label">First Name</label>
							<input type="text" class="form-control" id="fname" name="fname" maxlength="20" required>
						</div>
						<div class="mb-3">
							<label for="lname" class="form-label">Last Name</label>
							<input type="text" class="form-control" id="lname" name="lname" maxlength="20" >
						</div>
						<div class="mb-3">
							<label for="mobile" class="form-label">Mobile Number</label>
							<input type="text" class="form-control" id="mobile" name="mobile" maxlength="10" required>
						</div>
						<div class="mb-3">
							<label for="user_paswrd" class="form-label">Password</label>
							<input type="password" class="form-control" id="user_paswrd" name="password"  required>
						</div>
						<div class="mb-3">
							<label for="confirm_paswrd" class="form-label">Confirm Password</label>
							<input type="password" class="form-control" id="confirm_paswrd" name="confirm_password"  required>
						</div>
						<div class="mb-3">
							<label for="address" class="form-label">Delivery Address</label>
							<input type="text" class="form-control" id="address" aria-describedby="note" name="address" maxlength="100" required>
							<div for="address" class="form-text">You can change this later.</div>
						</div>
						<div class="buttonStyle">
							<button type="submit" class="btn btn-warning">Submit</button>
							<a class="btn btn-primary" href="{{ url_for('customerLogin') }}"> Back To Login Page </a>
						</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>