<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html.j2' %}
		<title> Admin Control Page </title>
		<style>
			b{ 
				color: white; 
			}
			body {
  				background-image: url("{{ url_for('static', filename='images/home_background.jpg') }}");
				background-repeat: no-repeat;
 				background-attachment: fixed;
  				background-size: 100% 100%;
			}
			.main {
				height: 1500px;
			}
		</style>   
	</head>  
	<body> 
		{% include 'admin_applications/nav_up.html.j2' %} 
		<div class="container-sm main">
			{% include 'alert.html.j2' %}
			<div class="row justify-content-start"> 
				{% for c in categories %}
					{% include 'admin_applications/edit_category.html.j2' %}
					<hr>
					<div class="collapse" id="ShowProducts_{{c.category_id}}">
						<div class="container-sm" style="padding: 0;">
							<div class="row justify-content-start"> 
								{% for p in c.hasProducts %}
									{% include 'admin_applications/edit_product.html.j2' %} 
								{% endfor %}
							</div>
						</div>
					</div>
					<hr>
				{% endfor %}
			</div>  
		</div>
		{% include 'admin_applications/nav_down.html.j2' %} 
	</body>
</html>
