<div class="col-sm-3 w-100 h-100">
    <div class="card text-center">
        <div class="card-body ">

			<a data-bs-toggle="collapse" href="#ShowProducts_{{c.category_id}}" aria-expanded="false" aria-controls="ShowProducts" style="color:black;">
		    	<h2 class="card-title"  style="float:left;">{{ c.category_name|title }} </h2>
			</a>
			
			<form method="POST" action="{{url_for('editCategory', id=c.category_id)}}" style="float:right;">
				<input type = 'hidden' name='method' value='delete'/>
				<button class="btn btn-danger" type="submit">DELETE</button>
			</form>

			<form method="POST" action="{{ url_for('editCategory', id=c.category_id)}}" style="float:right;">
				<input type="hidden" name="method" value="put"/>
				<button class="btn btn-warning" type="submit">UPDATE</button>
			</form>
		</div>
		
	</div>
</div>   