<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html.j2' %}
		<title> Product Form Page</title>
		<style>
			b{ 
				color: white;  
			}
			body {
  				background-image: url("{{ url_for('static', filename='images/home_background.jpg') }}");
				background-repeat: no-repeat;
 				background-attachment: fixed;
  				background-size: 100% 100%;
			}
		</style>   
	</head>  
	<body>  
		{% include 'admin_applications/nav_up.html.j2' %}
		<div class="container-sm justify-content-center" style="padding-top: 10%;">
		<div class="card">
		<h5 class="card-title">Update or Create Products</h5>
		<div class="card-body">
			<form enctype="multipart/form-data" method="POST" action="{{url_for('editProduct',id=id)}}">
				{% if id!=999 %}
					<input type="hidden" name="method" value="put">
				{% endif %}
				<div class="mb-3">
					<label for="name">Product Name:</label>
					<input type="text" name="name" maxlength="20" value="{{product.product_name|title if id!=999 }}" required>
				</div>
				<div class="mb-3">
					<label for="description">Product Description:</label>
					<input type="text" name="description" maxlength="50" value="{{product.description|title if id!=999 }}" >
				</div>
				<div class="mb-3">
					<label for="image">Product Image: </label>
					<input type="file" id="image" name="product_image" accept='.jpg' {% if id==999 %}required{% endif %}>
					<p><em style="color:green"> {{ 'Current image: '+product.image_path if id!=999 }} </em></p>
				</div>
				<div class="mb-3">
					<select name="category" required>
						<!-- show if new product created -->
						<option name="unselected" disabled {% if id!=999 %}hidden{% else %}selected{% endif %}>Select a Category</option> 
						{% for c in category %}
							<!-- keep selected the category for products -->
							<option name="{{c.category_id}}" value="{{c.category_id}}" {% if id!=999 and product.category_id == c.category_id %}selected{% endif %} > {{c.category_name|title}} </option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="price">Price per unit (₹):</label>
					<input type="number" name="price" min="1" step="0.01" value="{{product.price if id!=999 }}" required>
				</div>
				<div class="mb-3">
					<label for="minAmount">Quantity per unit:</label>
					<input type="number" name="minAmount" min='1' step="1" value="{{ product.minAmount if id!=999 }}" required>
				</div>
				<div class="mb-3">
					<label for="unit">Units (Eg: Kg, L):</label>
					<input type="text" name="unit" maxlength="10" value="{{product.units|title if id!=999 }}" required>
				</div>			
				<div class="mb-3">
					<label for="stock">Total Stock:</label>
					<input type="number" name="stock" min="1" value="{{product.stock_count if id!=999 }}" required>
				</div>		 
				<div class="mb-3">
					<label for="seller">Seller:</label>
					<input type="text" name="seller" maxlength="20" value="{{product.seller|title if id!=999 }}" required>
				</div>
				<button type="submit" class="btn btn-success">CONFIRM</button>
				{% if id!=999 %}
					<p style="color:red"><em>Confirm only if you want to refill your stocks.</em></p>
				{% endif %}
			</form>
		</div>
		</div>
		</div>
    </body>
</html>