<div class="row">
    {% if alert %}
        <div class="alert alert-{{alert['msg_type']}}" role="alert"> 
            {{alert['msg']}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
    {% endif %}
</div>