<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html.j2' %}
		<title> User Home Page </title>
		<style>
			b{
				color: white; 
			}
			body {
  				background-image: url("{{ url_for('static', filename='images/home_background.jpg') }}");
				background-repeat: no-repeat;
 				background-attachment: fixed;
  				background-size: 100% 100%;
			}
			.main{
				height: auto;
			}
		</style>  
	</head>
	<body>
		{% block nav_up %} {% endblock %}
		<div class="container-sm main">
			<div class="row justify-content-start"> 
				{% block content %} {% endblock %}
            </div>
		</div>
		{% block nav_down %} {% endblock %}
	</body>
</html> 
