{% if (p.stock_count - p.totalSale_count)==0 %}
	{% set stock_msg = 'Out of Stock' %}
	{% set stock_color = 'red' %}
{% elif (p.stock_count - p.totalSale_count)<5 %}
	{% set stock_msg = 'Few Left, Hurry Up!' %}
	{% set stock_color = 'red' %}
{% else %}
	{% set stock_msg = 'In Stock' %}
	{% set stock_color = 'green' %}
{% endif %}


{% if count > (p.stock_count - p.totalSale_count) %}
    {% set msg = 'Only '+(p.stock_count - p.totalSale_count)|string+' left.' %}
{% endif %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/products/'+ p.image_path)}}" class="img-fluid rounded-start" alt="{{ p.product_id }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ p.product_name|title }}</h5>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="color:{{stock_color}};">{{msg| default(stock_msg) }}</li>
        <li class="list-group-item">Buy {{ p.minAmount }} {{ p.units }} - ₹{{ p.price }}</li>
        <li class="list-group-item">Seller - {{ p.seller }}</li>
    </ul> 
 
    <div class="card-footer"> 

        <form method="POST" action="{{url_for('my_Cart_post', user_id=session['customer'], cart_id=session['cart_id']) }}" style="float:left;">
            
            <input type="hidden" name="method" value="put"/>
            <input type="hidden" name="product" value="{{ p.product_id }}"/>
            <input type="hidden" name="price" value="{{ p.price }}"/>

            <label for="totalQty">Quantity</label> 
            <input type="number" id="totalQty" value="{{ count }}" min="1" max="{{ p.stock_count - p.totalSale_count }}" step="1" name="qty" style="width: 50px;"/>

            <button class="btn btn-warning" type="submit">UPDATE</button>
        </form>
        <form method='POST' action="{{url_for('my_Cart_post', user_id=session['customer'], cart_id=session['cart_id']) }}" style="float:right;">
            <input type='hidden' name='method' value='delete'>
            <input type="hidden" name="product" value="{{ p.product_id }}"/>
            <input type="hidden" name="price" value="{{ p.price }}"/>

            <button class="btn btn-danger" type="submit">DELETE</button>
        </form>
    </div>
</div>