<div class="col-sm-3 w-100 h-100">
    <div class="card text-center">
        <div class="card-body">
		    <h2 class="card-title">{{ c.category_name|title }} </h2>
		</div>
        
        <a class="stretched-link" data-bs-toggle="collapse" href="#ShowProducts_{{c.category_id}}" aria-expanded="false" aria-controls="ShowProducts"></a>
	</div> 
</div> 